* {
  margin: 0;
  padding: 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

table {
  background-color: aquamarine;
  width: 100%;
}

/* .team {
  padding: 0 40px;
} */

.statsOptions {
  display: flex;
}

.controls {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  padding: 16px;
}

button {
  padding: 4px 26px;
  margin-left: 36px;
  background-color: #fff;
}
